@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body {
  box-sizing: border-box;
  color: white;
  font-family: 'Cabin', sans-serif;
  background-color: #e7e7e7;
}

.App {
  text-align: center;
  background: rgb(255,176,16);
  background: linear-gradient(90deg, rgb(97, 238, 115) 5%, rgba(0,212,255,1) 90%);
  max-width: 80%;
  margin: 2rem auto;
  border-radius: 1rem;
  box-shadow: -1px 0px 13px 0px rgba(0,0,0,0.26);
  -webkit-box-shadow: -1px 0px 13px 0px rgba(0,0,0,0.26);
  -moz-box-shadow: -1px 0px 13px 0px rgba(0,0,0,0.26);


}
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.logo {
  padding: 0.5rem;
  max-width: 6rem;
}

hr {
 color: white;
 border: white 1px solid;
 border-top: none;
 border-left: none;
 border-right: none;
 max-width: 90%;
 margin: 0.5rem;
 opacity: 0,8;
}

.title {
  font-size: 3rem;
  text-shadow: -1px 0px 13px 0px rgba(0,0,0,0.26);
  text-align: center ;
  padding: 0rem;
  margin: 0rem
}



h3 {
  margin: 0.5rem
}
/* Current Weather Component  */ 
.important-info {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content:  center;
  width: 100%;
  height: min-content;
}
.important-info span {
  padding: 0rem 2rem;
}
.main-icon {
  margin-left: 1rem;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px rgb(165, 165, 165));
  
}

h4 {
  font-size: 1.8rem;
  margin: 0;
  padding: 0.8rem;
}

.current-temperature {
  padding: 0;
  margin: 0.5rem ;
  font-size: 6rem;
}

/* Daily Weather component */

.daily-component {
  max-width: fit-content;
  padding: 0.5rem
}

.daily-icon{
  max-width: 3rem;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px rgb(119, 119, 119));
}

.next-days {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem;
  flex-wrap: wrap;
}

/* Change City Component */ 

.icon {
  color: white;
}

#changecity-fc{
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 1rem;
  background-color:inherit;
  align-content: center;
  justify-content: center;
}

#changecity-fc input {
  color: white;
  font-family: inherit;
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem;
  padding: 0.5rem;
  width: 20rem;
  border: 2px solid rgb(79, 255, 246);
  background-color: turquoise;
  border-radius: 2rem;
}

#changecity-fc input:focus {
  border: 2px solid rgb(83, 245, 123);
  outline: none;
}

.btn-city {
  padding: 1rem;
  border-radius: 3rem;
  margin: 1rem;
  background-color: #00ccff;
  border: none;
  box-shadow: -1px 0px 13px 0px rgba(0,0,0,0.26);
}

.btn-city:focus{
  background-color: #00ff80;
}

.btn-city:hover{
  background-color: #0097d3;
}

@media (min-width:800px) {
  .App {
    max-width: 80%;
  }
}

@media (max-width:1100px) {
  .App {
    max-width: 80%;
  }
}

@media (max-width:300px) {
  .App {
    max-width: 100%;
  }
}
